{{ partial('_partial/main/hero') }}

{% if theme.home.posts == 'recommend' %}
  <!--<h2 class="sea-index-title">
    {{ __('home.recommendedPosts') }}
  </h2>-->
  {{ partial('_partial/post/post_list', {post_list: recommendedPosts}) }}
{% elif theme.home.posts == 'recent' %}
  <!--<h2 class="sea-index-title">
    {{ __('home.recentPosts') }}
  </h2>-->
  {{ partial('_partial/post/post_list', {post_list: page.posts.toArray()}) }}
{% else %}
{% endif %}

{{ partial('_partial/main/pagination') }}

