<article class="sea-page-card-wrapper">
  <h1 class="sea-page-card-title">
    {{ page.title }}
  </h1>
  <div class="sea-article-content sea-doc">
    <div class="sea-article-content">
    {{ render(page.content) }}
    </div>
  </div>
</article>

{{ partial('_plugins/comments/index') }}